In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/23-1 빅데이터프로그래밍 기말과제/01. 로우데이터/아파트(매매)__실거래가_20230528193525_fixed.csv'
df = pd.read_csv("/content/drive/MyDrive/23-1 빅데이터프로그래밍 기말과제/01. 로우데이터/아파트(매매)__실거래가_20230528193525_fixed.csv", encoding = 'euc-kr')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987,언주로 3,NaN,중개거래,서울 강남구
1,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,2,"420,000",17,2020,개포로 264,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,59.92,202205,12,"203,500",5,2020,개포로 264,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,59.92,202205,26,"210,000",6,2020,개포로 264,20220930.0,중개거래,서울 강남구
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,59.92,202206,17,"195,000",10,2020,개포로 264,NaN,중개거래,서울 강남구

In [ ]:
df=df.drop(['시군구','번지','본번','부번','계약년월','계약일','층','건축년도','해제사유발생일','거래유형','중개사소재지'],axis=1)
df.head()

              단지명  전용면적(㎡) 거래금액(만원)      도로명
0  개포6차우성아파트1동~8동    79.97  216,000    언주로 3
1       개포래미안포레스트   136.06  420,000  개포로 264
2       개포래미안포레스트    59.92  203,500  개포로 264
3       개포래미안포레스트    59.92  210,000  개포로 264
4       개포래미안포레스트    59.92  195,000  개포로 264

In [ ]:
df.info

<bound method DataFrame.info of                   단지명  전용면적(㎡) 거래금액(만원)      도로명
0      개포6차우성아파트1동~8동    79.97  216,000    언주로 3
1           개포래미안포레스트   136.06  420,000  개포로 264
2           개포래미안포레스트    59.92  203,500  개포로 264
3           개포래미안포레스트    59.92  210,000  개포로 264
4           개포래미안포레스트    59.92  195,000  개포로 264
...               ...      ...      ...      ...
17642  한신아파트(103~109)    59.76   62,000  동일로 752
17643  한신아파트(103~109)    59.76   61,000  동일로 752
17644  한신아파트(103~109)    59.76   59,000  동일로 752
17645  한신아파트(103~109)    84.03   81,000  동일로 752
17646  한신아파트(103~109)    59.76   61,500  동일로 752

[17647 rows x 4 columns]>

In [ ]:
df.tail()

                  단지명  전용면적(㎡) 거래금액(만원)      도로명
17642  한신아파트(103~109)    59.76   62,000  동일로 752
17643  한신아파트(103~109)    59.76   61,000  동일로 752
17644  한신아파트(103~109)    59.76   59,000  동일로 752
17645  한신아파트(103~109)    84.03   81,000  동일로 752
17646  한신아파트(103~109)    59.76   61,500  동일로 752

In [ ]:
average_prices = df.groupby('단지명')['거래금액(만원)	'].mean() 
# 거래금액 먼저  넣고 

print(average_prices)

In [ ]:

# CSV 파일 불러오기
df = pd.read_csv('파일경로/파일이름.csv')

# 단지 별로 가격 평균 계산
average_prices = df.groupby('단지명')['거래금액(만원)'].mean()

print(average_prices)

In [ ]:
import pandas as pd

df=pd.read_csv()