In [1]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
df = pd.read_csv("/content/drive/MyDrive/23-1 빅데이터프로그래밍 기말과제/01. 로우데이터/아파트(매매)__실거래가_20230528193525_fixed.csv", encoding = 'euc-kr')
df.head()

Mounted at /content/drive

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987,언주로 3,NaN,중개거래,서울 강남구
1,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,2,"420,000",17,2020,개포로 264,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,59.92,202205,12,"203,500",5,2020,개포로 264,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,59.92,202205,26,"210,000",6,2020,개포로 264,20220930.0,중개거래,서울 강남구
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,59.92,202206,17,"195,000",10,2020,개포로 264,NaN,중개거래,서울 강남구

In [2]:
df = df[['단지명', '전용면적(㎡)', '거래금액(만원)', '도로명']]
df.head()

              단지명  전용면적(㎡) 거래금액(만원)      도로명
0  개포6차우성아파트1동~8동    79.97  216,000    언주로 3
1       개포래미안포레스트   136.06  420,000  개포로 264
2       개포래미안포레스트    59.92  203,500  개포로 264
3       개포래미안포레스트    59.92  210,000  개포로 264
4       개포래미안포레스트    59.92  195,000  개포로 264

In [3]:
df['거래금액(만원)'] = df['거래금액(만원)'].astype(str).str.replace(',', '')
df['전용면적(㎡)'] = df['전용면적(㎡)'].astype(str).str.replace(',', '')

In [6]:
# 모든 문자열이 숫자로 변환 가능한지 확인
print(df['거래금액(만원)'].str.isnumeric().all())
print(df['전용면적(㎡)'].str.isnumeric().all())

# 숫자로 변환 가능한 값만 선택하여 변환
df['거래금액(만원)'] = df['거래금액(만원)'].astype(str).str.replace(',', '').astype(float).astype(int)
df['전용면적(㎡)'] = df['전용면적(㎡)'].astype(str).astype(float).astype(int)

True
False

In [7]:
df['단위면적가격'] = df['거래금액(만원)'] / df['전용면적(㎡)']
df['단위면적가격'] = round(df['단위면적가격']).astype(int)
df.head()

              단지명  전용면적(㎡)  거래금액(만원)      도로명  단위면적가격
0  개포6차우성아파트1동~8동       79    216000    언주로 3    2734
1       개포래미안포레스트      136    420000  개포로 264    3088
2       개포래미안포레스트       59    203500  개포로 264    3449
3       개포래미안포레스트       59    210000  개포로 264    3559
4       개포래미안포레스트       59    195000  개포로 264    3305

In [8]:
df['평균가격'] = df.groupby('단지명')['단위면적가격'].transform('mean')
df.head()

              단지명  전용면적(㎡)  거래금액(만원)      도로명  단위면적가격         평균가격
0  개포6차우성아파트1동~8동       79    216000    언주로 3    2734  2734.000000
1       개포래미안포레스트      136    420000  개포로 264    3088  2882.269231
2       개포래미안포레스트       59    203500  개포로 264    3449  2882.269231
3       개포래미안포레스트       59    210000  개포로 264    3559  2882.269231
4       개포래미안포레스트       59    195000  개포로 264    3305  2882.269231

In [9]:
df = df.drop_duplicates(subset='단지명', keep='first')
df.head()

               단지명  전용면적(㎡)  거래금액(만원)         도로명  단위면적가격         평균가격
0   개포6차우성아파트1동~8동       79    216000       언주로 3    2734  2734.000000
1        개포래미안포레스트      136    420000     개포로 264    3088  2882.269231
27            개포자이      170    303000  개포로109길 69    1782  1782.000000
28         개포주공4단지       41    370000      삼성로 14    9024  9024.000000
29         개포주공5단지       74    210000    삼성로4길 17    2838  3109.250000

In [10]:
df2 = df[['단지명', '단위면적가격', '도로명']]
df2

                  단지명  단위면적가격         도로명
0      개포6차우성아파트1동~8동    2734       언주로 3
1           개포래미안포레스트    3088     개포로 264
27               개포자이    1782  개포로109길 69
28            개포주공4단지    9024      삼성로 14
29            개포주공5단지    2838    삼성로4길 17
...               ...     ...         ...
17628       삼익아파트.상가동     827    중랑역로 124
17629           청원다미소     988  동일로136길 10
17630         한솔e(A동)     617  봉화산로27길 30
17632  한신아파트(101~102)     905     동일로 752
17635  한신아파트(103~109)    1254     동일로 752

[3315 rows x 3 columns]

In [11]:
save_path = '/content/drive/MyDrive/23-1 빅데이터프로그래밍 기말과제/2-1. 아파트별 단위면적가격.csv'
df2.to_csv(save_path, index=False)