In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import csv
import folium    # 지오

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/23-1 빅데이터프로그래밍 기말과제/01. 로우데이터/집.csv.csv')
df_station = pd.read_csv('/content/drive/MyDrive/23-1 빅데이터프로그래밍 기말과제/01. 로우데이터/역.csv.csv')
df_station.drop_duplicates('field3')

,field1,field2,field3,field4,field5,field6,field7,field8,field9,field10,...,field41,field42,field43,field44,field45,field46,field47,_GC_TYPE,_X,_Y
0,3,A13873701,오금현대백조(임대),아파트,서울특별시 송파구 양재대로72길 20,서울,송파구,오금동,20-2,양재대로72길,...,임대,2013-11-21 16:43:07.0,Y,N,127.128775,37.508906,2013-03-07 09:46:59.0,정,127.128715,37.508897
1,7,A13789201,양재우성KBS(113동),아파트,서울특별시 서초구 바우뫼로 91,서울,서초구,양재동,160-2,바우뫼로,...,의무,2013-06-21 11:22:18.0,Y,N,127.029074,37.477501,2013-03-07 09:46:59.0,정,127.028949,37.477748
2,2,A13876112,송파파인타운13단지,아파트,서울특별시 송파구 송파대로8길 10,서울,송파구,장지동,857,송파대로8길,...,의무,2013-06-17 19:03:30.0,Y,N,127.129179,37.476897,2013-03-07 09:46:59.0,정,127.128098,37.476711
3,4,A15275101,개봉건영,아파트,서울특별시 구로구 고척로21나길 85-6,서울,구로구,개봉동,47-1,고척로21나길,...,의무,2013-06-23 11:30:23.0,Y,N,126.840675,37.501162,2013-03-07 09:46:59.0,정,126.840952,37.501982
4,1,A15679103,우리유앤미,아파트,서울특별시 동작구 서달로 83,서울,동작구,흑석동,우리유앤미아파트,서달로,...,의무,2018-04-10 15:59:42.0,Y,N,126.959639,37.500668,2013-03-07 09:46:59.0,정,126.959381,37.500235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2675,40310,A10023449,e편한세상 홍제가든플라츠,아파트,서울특별시 서대문구 통일로 505,서울,서대문구,홍은동,NaN,통일로,...,의무,2023-01-06 13:04:34.0,Y,N,126.940693,37.593009,2023-01-06 11:40:43.0,정,126.939302,37.595418
2676,40313,A10023384,용마산모아엘가파크포레,아파트,서울특별시 중랑구 용마산로84길 9-16,서울,중랑구,면목동,NaN,용마산로84길,...,의무,2023-04-27 13:23:51.0,Y,N,127.095752,37.585561,2023-04-27 13:20:30.0,정,127.096368,37.585801
2677,40320,A10023350,흑석자이,아파트,서울특별시 동작구 서달로 90,서울,동작구,흑석동,NaN,서달로,...,의무,2023-03-08 09:48:55.0,Y,N,126.958502,37.502460,2023-03-08 09:27:58.0,유,126.959738,37.501552
2678,40324,A10023336,자양하늘채베르,아파트,서울특별시 광진구 자양로 55,서울,광진구,자양동,NaN,자양로,...,의무,2023-03-17 10:06:18.0,Y,N,127.084626,37.532832,2023-03-17 09:53:16.0,정,127.084433,37.532378
2679,40318,A10023356,힐스테이트세운센트럴1단지,아파트,서울특별시 중구 을지로15길 32,서울,중구,입정동,NaN,을지로15길,...,의무,2023-03-09 08:55:46.0,Y,N,126.993763,37.567737,2023-03-08 18:17:37.0,유,126.993736,37.567723

In [ ]:
delname=[]
for i in range(1,7):
    if i ==4:
        continue
    delname.append('field'+str(i))
delname.append('_GC_TYPE')
df.drop(delname,axis =1)

                    field4          _X         _Y
0       경기도 양주시 덕정동 350-14  127.061805  37.844076
1         경기도 동두천시 보산동 422  127.057237  37.914318
2      경기도 동두천시 상봉암동 126-3  127.061213  37.947953
3    경기도 동두천시 동두천동 245-210  127.054877  37.927825
4       경기도 동두천시 지행동 424-1  127.055664  37.891876
..                     ...         ...        ...
416    서울특별시 서초구 반포동 128-7  127.015434  37.504159
417  서울특별시 강남구 삼성동 111-147  127.052705  37.512882
418  서울특별시 강남구 삼성동 111-114  127.043641  37.510853
419        서울특별시 동작구 흑석동 4  126.963570  37.509085
420      서울특별시 강남구 삼성동 172  127.060892  37.514361

[421 rows x 3 columns]

In [ ]:
map_CB = folium.Map(location = [37.559943,126.975314],zoom_start=30)
for i,store in df.iterrows():
    folium.Marker(location=[store['_Y'],store['_X']],popup=store['field4'],icon=folium.Icon(color='red',icon='star')).add_to(map_CB)
for i,store in df_station.iterrows():
    folium.Marker(location=[store['_Y'],store['_X']],popup=store['field3'],icon=folium.Icon(color='blue',icon='star')).add_to(map_CB)
map_CB.save('map_CB.html')

In [ ]:
import webbrowser
webbrowser.open('map_CB.html')

False

In [ ]:
import pandas as pd
import csv


files = ['전국지하철 자료1.csv','경춘.csv', '공항.csv', '신분당.csv']

merged_df = pd.DataFrame()

for file in files:
    df = pd.read_csv(file, encoding='UTF-8')
    merged_df = pd.concat([merged_df, df], ignore_index=True)
merged_df.dropna('_X')
output_file = '통합3.csv'
merged_df.to_csv(output_file, index=False)

print("CSV 파일 합치기가 완료되었습니다.")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb5 in position 2: invalid start byte

In [ ]:
import pandas as pd
import csv



merged_df = pd.DataFrame()


df = pd.read_csv( '신분당.csv', encoding='cp949')

df.rename(columns={'경도':'_X'},inplace=True)
df.rename(columns={'위도':'_Y'},inplace=True)


df.to_csv('신분당_XY.csv')


print("CSV 파일 합치기가 완료되었습니다.")

CSV 파일 합치기가 완료되었습니다.